<aside class="sidebar">
  <div class="logo">
    <i class="fas fa-hospital"></i>
  </div>
  <ul class="menu">
    <li>
      <a routerLink="/dashboard" routerLinkActive="active">
        <i class="fas fa-tachometer-alt"></i> Tableau de Bord
      </a>
    </li>
    <li>
      <a routerLink="/personnel" routerLinkActive="active">
        <i class="fas fa-users"></i> Personnels
      </a>
    </li>
      <li>
      <a routerLink="/ajouter" routerLinkActive="active">
        <i class="fas fa-users"></i> Ajouter
      </a>
    </li>
    <li>
      <a routerLink="/pointage" routerLinkActive="active">
        <i class="fas fa-clock"></i> Pointage
      </a>
    </li>
  </ul>
</aside>