:root {
    --1: #E0FBFC;
    --2: #C2DFE3;
    --3: #9DB4C0;
    --4: #5C6B73;
    --5: #253237;
    --6: #FFFFFF;
    --7: #007bff;
   
  }/* You can add global styles to this file, and also import other style files */
